page-landing {
    .banner{
        height: 30%;
        width: 100% !important;
    }
    .card-design{
        height: 300% !important;   
    }
    .card-image{
        max-height: 100px !important;
        min-height: 100px !important;
    }
}
