<!-- -->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Welcome</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">

  <ion-card no-margin margin-bottom class="banner">
    <ion-slides autoplay="5000" loop="true" speed="3000">
      <ion-slide *ngFor="let slide of slideData">
        <img src="{{slide.image}}" />
      </ion-slide>
    </ion-slides>
  </ion-card>
  <div class="gradient">
  <ion-title>
    <span  class="text">Choose your field</span>
  </ion-title>
</div>
<ion-grid>
    <ion-row>
      <ion-col *ngFor="let course  of courses" col-6 >
          <ion-card (click)="viewSubjects(course.name)">
              <ion-avatar item-start>
                <img class="card-image" [src]="course.imgSrc">
              </ion-avatar>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>