page-video {
    .border {
        border-radius: 5px !important;
        padding-left: 30px !important;
        margin-bottom: 10px;
        border: 2px solid #73AD21;
        box-shadow: 1px 1px 2px 2px lightgrey;
        }
}
